crm.hugodewas.com {
    root * /var/www/crm/public
    encode gzip
    php_fastcgi unix//run/php/php8.2-fpm.sock
    file_server

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        -Server
    }

    log {
        output file /var/log/caddy/crm.log
    }
}
